<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="AHT\Salesagents\Api\Data\SalesagentInterface" type="AHT\Salesagents\Model\Salesagent" />
    <preference for="AHT\Salesagents\Api\SalesagentRepositoryInterface" type="AHT\Salesagents\Model\SaleagentRepository" />

      <type name="Magento\Customer\Model\Data\Customer">
        <plugin name="aht_changefirstnameplugin" type="AHT\Salesagents\Plugin\Customer\FirstnamesaPlugin" sortOrder="1" disabled="false"/>
    </type>

    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="ahtsalesagents_sacommission_listing_data_source" xsi:type="string">AHT\Salesagents\Model\ResourceModel\Product\Grid\Collection</item>
            </argument>
        </arguments>
    </type>

    <type name="Magento\Catalog\Ui\DataProvider\Product\ProductDataProvider">
        <arguments>
            <argument name="addFilterStrategies" xsi:type="array">
                <item name="fulltext" xsi:type="object">Magento\CatalogSearch\Ui\DataProvider\Product\AddFulltextFilterToCollection</item>
            </argument>
        </arguments>
    </type>
</config>