<!--Use 'stepCode' as id attribute-->
<li data-bind="fadeVisible: isVisible, attr: { id: stepCode }">
    <div class="step-title" data-bind="i18n: stepTitle" data-role="title"></div>
        <div id="checkout-step-title"
             class="step-content"
             data-role="content">
            <!-- <div data-bind="if: isLogedIn"> -->
            <form data-bind="submit: navigateToNextStep"  id="delivery-checkout-form" class="form" data-bind="attr: {'data-hasrequired': $t('* Required Fields')}}">
                <div class="field _required" name="delivery.date">

                    <label class="label" for="date">
                        Delivery date
                    </label>
                
                    <div class="control">
                        <input class="input-text" type="date" name="date" aria-required="true" aria-invalid="false" id="date">
                    </div>
                </div>
                
                <div class="actions-toolbar">
                    <div class="primary">
                        <label>Delivery comment</label>
                      <textarea name="comment" id="comment" cols="100" rows="10"></textarea>
                    </div>
                </div>
                <div class="actions-toolbar">
                    <div class="primary">
                        <button data-role="opc-continue" type="submit" data-bind="click: navigateToNextStep" class="button action continue primary">
                            <span><!-- ko i18n: 'Next'--><!-- /ko --></span>
                        </button>
                    </div>
                </div>
            </form>
            <!-- </div> -->
        </div>
    </li>