<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="AHT_Portfolio::portfolio" title="Portfolio Menu">
                    <resource id="AHT_Portfolio::index" title="Index Page" sortOrder="70" />
                    <!-- <resource id="AHT_Portfolio::category" title="Category Page" sortOrder="70" /> -->
                </resource>
                <resource id="Magento_Backend::stores">
                    <resource id="Magento_Backend::stores_settings">
                        <resource id="Magento_Config::config">
                            <resource id="AHT_Portfolio::config_portfolio" title="Portfolio Section" />
                        </resource>
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>